@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
    .hc1 h2{
        margin-left: 7vw;
    }
    .hc2 h2{
        margin-left: 35%;
    }

}

@media (max-width: 1199px) {
    .hero_area {
        height: auto;
    }

    .slider_section {
        padding: 50px 0;
    }
    .hc1 h2{
        margin-left: 10vw;
    }
    .hc2 h2{
        margin-left: 27vw;
    }
    

}
@media (max-width: 1120px) {
    .hero_area {
        height: auto;
    }

    .slider_section {
        padding: 50px 0;
    }
    .hc1 h2{
        margin-left: 12vw;
    }
    .hc2 h2{
        margin-left: 33vw;
    }
}

@media (max-width: 992px) {
    .user_option {
        flex-direction: column;
    }

    .custom_nav-container .nav_search-btn {
        background-position: center;
        margin-top: 10px;
    }

    .user_option a {
        margin-bottom: 10px;
    }

    .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
        padding: 0 5px;
    }
    .do_section .do_container .arrow_bg::before {
        display: none;
    }
    .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link::before{
        display: none;
    }
    .hc1 h2{
        margin-left: 5vw;
    }
    .hc2 h2{
        margin-left: 20vw;
    }

    .ft {
        display: grid;
        grid-template-columns: 1fr 1fr;  /* Two columns, each taking up 1 fraction of available space */
        grid-template-rows: auto auto;   /* Two rows */
      }
    
      #part1:nth-child(1), #part2:nth-child(2) {
        grid-column: span 1;  /* Both the first and second items take one column */
      }
      
      #part3:nth-child(3) {
        grid-column: span 2;  /* The third item takes both columns in the second row */
        grid-row: 2;          /* Place the third item on the second row */
      }

      .ikona,#part3 h3 {
        display: grid;
        grid-template-columns: repeat(4, 15%);  /* Creates 3 equal columns */
        grid-column-gap: 10% ; /* Adds space between the grid items */
        margin-left: 0;
      }
}

@media (max-width: 768px) {

    .info_section .col-md-3 {
        text-align: center;
    }

    .info_section .col-md-3:not(:nth-last-child(1)) {
        margin-bottom: 35px;
    }

    .who_section .detail-box {
        margin-left: 15px;
        margin-top: 35px;
    }

    .work_section .work_container .box.b-1,
    .work_section .work_container .box.b-2,
    .work_section .work_container .box.b-3,
    .work_section .work_container .box.b-4 {
        width: 100%;
    }

    .info_section .col-md-3>div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info_section .info_form .social_box {
        justify-content: center;
    }

    .info_section .info_form .social_box a {
        margin: 0 10px;
    }

    .footer_section p {
        padding: 20px 30px;
    }
    .hc1 h2{
        margin-left: 15vw;
    }
    .hc2 h2{
        margin-left: 13vw;
    }
 
}

@media (max-width: 576px) {
    .slider_section .detail-box h1 {
        font-size: 3.5rem;
    }

    .do_section .do_container .arrow_bg::before {
        display: none;
    }

    .ft {
        display: grid;
        grid-template-columns: 1fr;  /* Two columns, each taking up 1 fraction of available space */
        grid-template-rows: auto auto auto;   /* Two rows */
      }
    
      #part1:nth-child(1), #part2:nth-child(2) {
        grid-column: span 1;  /* Both the first and second items take one column */
      }
      
      #part3:nth-child(3) {
        grid-column: span 1;  /* The third item takes both columns in the second row */
        grid-row: 3;          /* Place the third item on the second row */
      }

      #loc, #tel, #mail{
        color: rgba(251, 77, 197, 1);
        height: auto;
        width: 5%;
      }
   
}


@media (max-width: 500px) {
    .heading_container h2::before, .heading_container h2::after{
        width: 4vw;
    }
    #loc, #tel, #mail{
        color: rgba(251, 77, 197, 1);
        height: auto;
        width: 6%;
      }
}

@media (max-width: 420px) {
    .slider_section .detail-box h2 {
        font-size: 1.5rem;
    }

    .slider_section .detail-box h1 {
        font-size: 3rem;
    }
    .hc1 h2{
        margin-left: 10vw;
    }
    .hc2 h2{
        margin-left: 10vw;
    }
}

@media (max-width: 360px) {
    .hc1 h2{
        margin-left: 5vw;
    }
    .hc2 h2{
        margin-left: 5vw;
    }
}

